*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 700px;
    overflow-y: visible;
    position: relative;
    padding: 0;
    background: url("/images/background_main.jpg");
    background-size: cover;
}

.Login {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    color: #252020;
    text-shadow: 5px 5px 10px;
    margin: 20px 20px;
}

.myBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #5ac6caa8;
    
}
.content {
    width: 70%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 15px 15px 50px #2f2525;
    opacity: 0;
    animation: hiendangky 2s cubic-bezier(0.49, 0.86, 0.26, 0.93) forwards;
}
@-webkit-keyframes hiendangky{
    0%{
        transform: translate(-55%,-55%);
    }
    100%{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
}

.contentLeft .carousel-inner .carousel-item{
    height: 100%;
    overflow: hidden;
}
.imgfullscreen{
    height: 320px;
}
.register {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 35px;
    color: #252020;
    text-shadow: 5px 5px 10px;
    margin: 20px 20px;
}

.contentLeft {
    margin: 10px 0;
}

input#firstName,input#lastName,input#email,input#phone,input#password,input#confirmPassword,.btnregister,
input#UserName, .btnsendemail, .btnback{
    background: #ffffff;
    font-family: 'Mukta', sans-serif;
    color: #2b2f2b;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #383838;
    box-shadow: 2px 2px 10px black;
    margin: 25px 10px;
}

input#firstName,input#lastName {
    display: inline-block;
    width: 39%;
}

input#email,input#phone,input#password,input#confirmPassword, input#UserName {
    width: 86%;
}

input.btn.btn-primary.btnregister {
    background: #28b1ac;
    margin: 20px auto;
    color: #f9f9f9;
    border: 2px;
}

.text-right{
    text-align: center!important;
}

@media only screen and (max-width: 992px){
    input#firstName,input#lastName {
        display: block;
        width: 86%;
    }
}

div#carouselExampleIndicators {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.carousel-inner {
    height: 100%;
}

.polygonBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #21212157;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 15% 0, 75% 100%, 0% 100%);
    animation:hieuungbottom 2s forwards;
    animation-delay: .3s;
    opacity: 0;
}
.polygonBottom2{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #21212157;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0,0 0, 60% 100%, 0% 100%);
    animation:hieuungbottom 2s forwards;
    opacity: 0;
}
@-webkit-keyframes hieuungbottom{
    0%{
        left: -47%;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.polygonTop {
    position: absolute;
    top: 0;
    right: 0;
    background: #21212157;
    width: 100%;
    height: 100%;
    clip-path: polygon(65% 0, 100% 58%, 100% 0);
    animation:hieuungtop 2s forwards;
    opacity: 0;
}
@-webkit-keyframes hieuungtop{
    0%{
        right: -40%;
    }
    100%{
        right:0;
        opacity: 1;
    }
}


#frmEmail{
    display: none;
}

#lbForgot{
    padding-right: 6%;
}

.panelButton{
    display: inline-block;
    margin-left: 20%;
}

input.btn.btn-primary.btnsendemail{
    background: #28b1ac;
    margin: 20px auto;
    color: #f9f9f9;
    border: 2px;
    margin-right: 30px;
}

input.btn.btn-primary.btnback{
    background: #28b1ac;
    margin: 20px auto;
    color: #f9f9f9;
    border: 2px;
}

.btnsendemail, .btnback{
    display: inline;
}

.banner-top{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}

#bannner_top{
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: block;
    transition: 1s ease-out;
    opacity: 0;
    animation: hienbannertop 4s forwards;
}

@-webkit-keyframes hienbannertop{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1;
    }
}