*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-sm-3.show-figure{
    background: linear-gradient(45deg, #471fb891 15%, #4c487999 40%, #6c6ba582 80%);
    position: fixed;
    height: 100%;
    width: 100%;
    border: 4px double #2dc1bfe8;
}
img.pokemon {
    width: 40%;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 10%;
}

img.figure {
    position: absolute;
    left: 20%;
    bottom: 30%;
    width: 70%;
    height: 55%;
    z-index: 2;
}
.smtitleItem {
    text-align: center;
    font-size: 32px;
    border-bottom: 2px solid #5f5b5b;
    font-family: 'Kaushan Script', cursive;
}

.imgitem {
    width: 70%;
    margin: auto;
    position: relative;
}

.card.item {
    margin: 20px;
    width: 200px;
}

h4.card-title.nameitem {
    text-align: center;
}

.number {
    position: absolute;
    bottom: 12%;
    left: 14%;
    font-size: 17px;
    background: #2a90b1c7;
    padding: 0px 5px;
    font-family: segoe ui light;
    font-weight: bold;
    color: white;
    border-radius: 30%;
}

div.editball {
    font-size: 25px;
    position: absolute;
    top: -1%;
    right: 4%;
    color: #6b6a6a;
    cursor: pointer;
}

div.edittool {
    font-size: 25px;
    position: absolute;
    top: -1%;
    right: 4%;
    color: #6b6a6a;
    cursor: pointer;
}

.myButton {
    margin: 20px 0;
}

button.btn.btn-primary {
    width: 10%;
}

/*Chỉnh sửa vật phẩm*/
.content {
    width: 70%;
    height: 70%;
    background-color: #61454573;
    border-radius: 20px;
    font-size: 1.3em;
    color: white;
    display: none;
    transition-delay: 1s;
    z-index: 3;
}

#contentBall{
    position: absolute;
    top: 20%;
    left: 28%;
}

#contentTool{
    position: absolute;
    top: 150%;
    left: 28%;
}

#lbBallRemove{
    position: absolute;
    left: 190%;
    top: 3%;
    z-index: 3;
    cursor: pointer;
}

#lbToolRemove{
    position: absolute;
    left: 190%;
    top: 3%;
    z-index: 3;
    cursor: pointer;
}

.anhDaiDien {
    width: 120px;
    height: 120px;
    position: relative;
    background-color: #00ffc0;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    margin: 10px auto;
}

.anhDaiDien img {
    position: absolute;
    width: 100%;
    top: 10px;
}

.input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.input-file-trigger:hover {
    background: #34495E;
    color: #39D2B4;
}

.anhDaiDien {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #00ffc0;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    margin-top: 50px;
}

button.btn.btn-primary.themVatPham {
    margin: auto;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: -8%;
    cursor: pointer;
    z-index: 3;
}